{% extends "jobs/base.html" %}

{% load i18n %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "New Project" %}{% endblock %}

{% block content %}
<div class="text-center">
    <h1>{% trans "New Project" %}</h1>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form class="signup" id="signup_form" method="post" action="{% url 'project-create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-grid mt-3">
                <button class="btn btn-success" type="submit">{% trans "Create New Project" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}